@using SupplierManagementSite.Models;
@model Supplier
@{
}

<form method="post">
    <input asp-for="Name" class="form-control" placeholder="Name" />
    <input asp-for="TelephoneNumber" class="form-control" placeholder="Telephone Number" />
    <br />
    <input  type="submit" value="Create"/>
</form>
 
